root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true

[*.{cs,csproj,slnx,json,jsonc,md,yml,yaml,xml,props,targets}]
indent_style = space
indent_size = 2

[*.cs]
indent_size = 4

[*.{unity,prefab,asset,meta}]
end_of_line = lf
